
<div class="table-responsive">
  <table class="table table-striped table-condensed">
    <thead class="thead-inverse">
      <tr>
        <th *ngFor="let column of columns">{{column.header}}
        <input type="text" #{{column.header}} class="form-control" *ngIf=enableFilter (keyup)="filterData({{column.header}}.value)"  placeholder="{{column.header}}" />
      </th>
      </tr>
    </thead>

      <tr *ngFor="let row of getData()">

        <td *ngFor="let column of columns">{{row[column.value]}}</td>
      </tr>

  </table>
</div>
